#content .food {
  height: calc(600px + var(--tile-additional-height));
}

.food .desc .centered-text {
  height: 60%;
  flex-direction: column;
  gap: 80px;
}

.food .price {
  align-self: end;
  display: flex;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
