body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url("../img/pexels-waldemar-2290070.jpg");
  background-position: 0 40%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
header {
  position: relative;
}
body nav {
  background-color: #000;
}
a {
  text-decoration: none;
  align-self: end;
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
}

body nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  --list-height: 120px;
  height: var(--list-height);
  gap: 120px;
  /* height: 80px; */
}

ul > li {
  height: 200%;
  display: flex;
  width: 120px;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  body {
    background-position: 0 0;
  }
  body nav > ul {
    flex-direction: column;
    height: 500px;
    gap: 0;
  }

  ul > li {
    height: 125%;
  }
  ul li[data-checked] {
    background-position: center 25px;
  }
}

@font-face {
  font-family: "Raleway-Light";
  src: url("../fonts/Raleway-Light.ttf");
}
button {
  height: 100%;
  background-color: inherit;
  border: none;
  color: white;
  user-select: none;
  cursor: pointer;
  font-size: 25px;
  font-family: "Raleway-Light";
}

body > *:nth-child(2) {
  flex: 1;
}

#content {
  position: relative;
}

li[data-checked] {
  background-image: url("../img/NicePng_wood-sign-png_98922.webp");
  /* background-color: blue; */
  background-position: center calc(var(--list-height) / 2);

  background-size: contain;
  background-repeat: no-repeat;
}
