body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url("../img/pexels-waldemar-2290070.jpg");
  background-position: 0 40%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

pre {
  display: inline;
}
header {
  position: relative;
}
body nav {
  background-color: #000;
}
a {
  text-decoration: none;
  align-self: end;
  color: white;
  position: absolute;
}
a:not(#content > a) {
  bottom: 0;
  right: 0;
}
#content > a {
  top: 0;
  left: 0;
}

body nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  --list-height: 120px;
  height: var(--list-height);
  gap: 120px;
  /* height: 80px; */
}

nav li {
  height: 200%;
}
ul:not(.contact li) > li {
  display: flex;
  font-size: 25px;
  width: 120px;
  justify-content: center;
}

@media screen and (max-width: 1450px) {
  #content {
    --tile-additional-height: 300px !important;
  }
}
@media screen and (max-width: 1000px) {
  body {
    background-position: 0 0;
  }
  body nav > ul {
    flex-direction: column;
    height: 500px;
    gap: 0;
  }

  #content ul {
    width: 100% !important;
  }

  ul > li:not(#content li) {
    height: 125%;
  }
  ul > li[data-checked="true"] {
    background-position: center 25px;
  }

  /* #content li {
    font-size: 13px !important;
  } */

  /* #content section {
    --title-height: 20px !important;
  } */

  nav li:last-child {
    transform: scale(1.2);
  }
}

@media screen and (max-width: 560px) {
  #content li {
    font-size: 17px !important;
  }
  h2 {
    --title-height: 30px;
  }
}
@font-face {
  font-family: "Raleway-Light";
  src: url("../fonts/Raleway-Light.ttf");
}

:root {
  font-family: "Raleway-Light";
}
button {
  height: 100%;
  background-color: inherit;
  border: none;
  color: white;
  user-select: none;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
}

body > *:nth-child(2) {
  flex: 1;
}

#content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  --tile-additional-height: 0px;
}

li[data-checked="true"] {
  background-image: url("../img/NicePng_wood-sign-png_98922.webp");
  /* background-color: blue; */
  background-position: center calc(var(--list-height) / 2);

  background-size: contain;
  background-repeat: no-repeat;
}

main {
  display: flex;
  justify-content: center;
}
main > ul {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}
#content > main > ul > li {
  width: 100%;
  background-color: gray;
  justify-content: center;
  align-items: center;
  flex: initial;
}
#content section {
  --border-size-combined: 10px;
  --title-height: 50px;

  --section-size: calc(100% - var(--border-size-combined));
  width: var(--section-size);
  height: var(--section-size);
  background-color: white;
  text-align: justify;
  /* flex-direction: column; */
}

.desc {
  display: block;
}

.desc .flowing-text {
  height: 30%;
  line-height: 1.3;
}

.desc .centered-text {
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content :is(main > ul > li, section) {
  /*   clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  ); */
  clip-path: polygon(
    20% 0,
    80% 0,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
}

li .desc {
  background-color: white;
}

#content section::before {
  content: " ";
  float: left;
  height: 100%;
  width: 30%;
  /* background-color: violet;
  clip-path: polygon(0 0, 66% 0, 0 30%, 0 70%, 100% 100%, 0 100%, 0 70%, 0 30%); */
  shape-outside: polygon(
    0 0,
    66% 0,
    0 30%,
    0 70%,
    100% 100%,
    0 100%,
    0 70%,
    0 30%
  );
}
#content .after {
  content: " ";
  float: right;
  height: 100%;
  width: 30%;
  /* background-color: violet;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 30%,
    100% 70%,
    100% 100%,
    0 100%,
    100% 70%,
    100% 30%
  ); */
  shape-outside: polygon(
    33% 0,
    100% 0,
    100% 30%,
    100% 70%,
    100% 100%,
    0 100%,
    100% 70%,
    100% 30%
  );
}

li h2 {
  display: flex;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  font-size: var(--title-height);
  margin: 10px 0;
}

:is(.contact, .food) img {
  --img-size: 250px;
  width: var(--img-size);
  height: var(--img-size);
  object-fit: cover;
  border-radius: 20px;
  border: 4px solid #464646;
}

:is(.contact, .food) .desc {
  height: calc(var(--section-size) - var(--title-height));
}
